<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="gda" type="GDA.Common.Configuration.Handlers.GDASectionHandler, GDA"/>
  </configSections>
  <gda>
    <GDA>
		<Mappings>
			<Mapping resourceName="Mapping.gda-map.xml" assemblyName="Data.SqlServer"/>
		</Mappings>
      <GenerateKeyHandler classType="Test.Data.DAL.KeyGenerator, Test.Data" methodName="GenerateKey"/>
      <CryptoClass classType="GDA.Test.Security.Security, GDA.Test"
               decryptMethod="Decrypt"
               encryptMethod="" />
      
      <ProviderConfigurationLoadHandler classType="" methodName=""/>
      <DefaultProvider name="TesteCrypty"/>
      <Debug trace="true"/>
      <ProvidersConfiguration>
        <Info name="Test" providerName="MsAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\Colosoft\Sistemas\Utils\Samples\DB\LivrariaDoManel.mdb;User Id=admin;Password=;"/>
        <Info name="TesteCrypty" providerName="MsSql" connectionString="Data Source=localhost;Initial Catalog=teste;User Id=BAQOQN7CPPNDTGAJVKBPTZ36MK5Q;Password=BABL4N5UUWVQ2TOUGHX1XA5A3L5Q;"/>
      </ProvidersConfiguration>
      <Providers>
        <Provider name="MsAccess" classNamespace="GDA.Provider.MsAccess" assembly="GDA"/>
        <!--<Provider name="MySql" classNamespace="GDA.Provider.MySql" assembly="GDA.Provider.MySql" />-->
        <Provider name="MsSql" classNamespace="GDA.Provider.MsSql" assembly="GDA"/>
        <Provider name="PostgreSQL" classNamespace="GDA.Provider.PostgreSQL" assembly="GDA.Provider.PostgreSQL"/>
      </Providers>
      <ModelsNamespace>
        <Namespace assembly="*" name="LivrariaManel.Models"/>
      </ModelsNamespace>
    </GDA>
  </gda>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
